    #section {
        width: 60%;
        margin: auto;
    }
    /*------------------------- .quotesContainer ------------------------------*/
    
    .quoteContainer {
        border: 2px solid black;
        padding: 10px;
        background-color: rgb(231, 229, 238);
    }
    
    .owl-theme {
        border: 1px solid black;
    }
    
    .item {
        box-sizing: border-box;
        border: 1px dotted black;
        padding: 10px;
        background-image: linear-gradient(to right, darkgrey, wheat);
        height: 200px;
    }
    /* ------------- customShow --------------------------*/
    
    .customContainer {
        margin: auto;
        width: 60%;
        border: 2px solid black;
        position: relative;
        overflow: hidden;
    }
    
    .customShow {
        display: flex;
        width: 100%;
        height: 450px;
    }
    
    #prev,
    #next {
        position: absolute;
        top: 50%;
        padding: 5px;
        color: aquamarine;
        background: none;
        font-size: 20px;
        border: none;
        border-width: 0;
    }
    
    #prev {
        left: 0%;
    }
    
    #next {
        right: 0%;
    }
    /*----------------------------- media query -------------------------------*/
    
    @media (max-width: 839px) {
        .introContainer div {
            flex-basis: 40%;
        }
    }